include/TGUI/Backends symlink=dir
include/TGUI/Loading symlink=dir
include/TGUI/Renderers symlink=dir
include/TGUI/Widgets symlink=dir
include/TGUI/extlibs symlink=dir
src/TGUI/Backends symlink=dir
src/TGUI/Loading symlink=dir
src/TGUI/Renderers symlink=dir
src/TGUI/Widgets symlink=dir
examples/many_different_widgets symlink=dir
examples/scalable_login_screen symlink=dir