include/TGUI/Loading symlink=dir
include/TGUI/Renderers symlink=dir
include/TGUI/Widgets symlink=dir
include/TGUI/extlibs symlink=dir
src/TGUI/Loading symlink=dir
src/TGUI/Renderers symlink=dir
src/TGUI/Widgets symlink=dir